@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

html {
    font-family: 'Onest', sans-serif;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

body {
    margin: 0px;
    padding: 0px
}

main {
    padding: 16px;
}

footer {
    padding: 40px 0px;
    text-indent: 15px;
    color: white;
    background-color: #487303;
}

img {
    height: 200px;
}

nav {
    border-color: black;
    border-bottom: 1px solid;
    background-color: #2F5B00;
    padding: 16px
}

a:hover {
    color: green;
    text-decoration: underline;
}

.main-page {
    color: whitesmoke;
}

a {
    color: green;
    text-decoration: none;
}

h1 {
    color: #D9AF3C;
}

h2 {
    color: #7d8844;
}

tr:nth-child(even) {
    background-color: #487303;
    color: white;
}
